.Btn {
  
  border: 2px solid #e17ab4;
  transition: 0.5s;
  color: #ff76d1;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px; /* 150% */
  padding: 12px 24px;
}
.Btn:hover {
  background: #ee66ce;
  color: #fff;
}